.Scroller {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 9.5vh;
    cursor: pointer;
}

.Scroller div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: url('../../../img/4.general/3.sunset/sunset.png') no-repeat center 0;
}

.Scroller .arrow {
    height: 44px;
    background: url('../../../img/4.general/2.arrow/arrow.png') no-repeat center center;
}

.Scroller p {
    font-size: 14.327px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
}
