.RoundPic {
  position: absolute;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  z-index: 3;
}

.RoundPic .pic_num {
  font-size: 3.125vw;
  font-family: "Lato Semibold";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.RoundPic .pic_text {
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
